.container{
    display: flex;
    justify-content: space-between;
    margin: 2rem 4rem;
}
  
.horizontal{
    flex: 1;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(242, 243, 247);
    border: 2px solid rgb(235, 235, 248);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chartscontainer{
    display: flex;
    gap: 0.7rem;
    
}
.barcontainer{
    margin-left: 2rem;
    padding: 1rem 1.5rem;
    width: 770px;
    height: 570px;
    border: 1px solid rgb(224, 224, 247);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pie{
    margin: 2rem 0;
    width: 28rem;
    height: 16rem;
    padding: 1rem;
    border: 1px solid rgb(224, 224, 247);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}
.income{
    margin: 2rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
}
.incomeM , .incomeW{
    padding: 1.5rem 1.5rem;
    width: 370px;
    height: 260px;
    border: 1px solid rgb(224, 224, 247);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.patientstab{
    margin-left: 2rem;
    padding: 1rem 1rem;
    width: 770px;
    height: 420px;
    border: 1px solid rgb(224, 224, 247);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.doctorstab{
    
    padding: 1rem 1rem;
    width: 450px;
    height: 570px;
    border: 1px solid rgb(224, 224, 247);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
